.logo-img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 0.5em;
}

/* Медиа-запрос для уменьшения логотипа на маленьких экранах */
@media (max-width: 576px) {
    .logo-img {
        max-width: 50px; /* Уменьшение логотипа на экранах меньшего размера */
        max-height: 50px;
    }
}

/* Уменьшаем ширину карточек */
.card {
    transform: scale(0.85); /* Уменьшаем карточки на 15% */
    transition: transform 0.3s ease;
}

/* Уменьшаем отступы внутри карточки */
.card-body {
    padding: 10px 15px; /* Меньше отступы */
}

/* Уменьшаем изображения */
.card-img-top {
    max-width: 90%;
    height: auto;
}
.carousel-item img {
    height: 600px; /* Устанавливаем высоту для изображений */
    object-fit: cover; /* Обрезаем изображения, чтобы они заполнили контейнер */
    width: 100%; /* Ширина изображения 100% от ширины контейнера */
}

/* Медиа-запрос для уменьшения размера на мобильных устройствах */
@media (max-width: 768px) {
    .carousel-item img {
        height: 250px; /* Уменьшаем высоту изображений на мобильных устройствах */
    }
}

/* Делает заголовок таблицы светлым, как на изображении */
.table-light th {
    background-color: #f8f9fa; /* светлый серый фон */
    font-weight: bold;
}

/* Изменяет границы ячеек и строк */
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

/* Убирает верхнюю границу для верхней строки и левой границы для первого столбца */
.table th:first-child,
.table td:first-child {
    border-left: none;
}

.table th, .table td {
    text-align: center; /* Центрирует содержимое */
    vertical-align: middle; /* Вертикальное выравнивание по центру */
}

.container_content {
    padding-top: 30px
}

iframe {
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    color: white;
    background: rgb(0,48,73);
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

footer p {
    margin: 0 auto;
}

.nnpictures {
    display: flex;
    gap: 10px;
}

.vk img {
    border-radius: 0.5em;
}

.navbar-nav .nav-item .btn {
    margin: 5px; /* Добавляет отступы вокруг кнопок */
}

.container-fluid{
    color: white;
    background: rgb(0,48,73);
}